In [3]:
import pandas as pd

In [4]:
path = '/Users/anmusso/Downloads/bpe21_ensemble_csv/bpe21_ensemble.csv'

In [5]:
df = pd.read_csv(path, nrows=1000, sep=';')

In [6]:
df.head(10)

,AAV2020,AN,BV2012,DEP,DEPCOM,DOM,EPCI,DCIRIS,REG,SDOM,TYPEQU,UU2020,NB_EQUIP
0,524,2021,1093,1,1001,A,200069193,010010000,84,A1,A129,CSZ,1
1,524,2021,1093,1,1001,A,200069193,010010000,84,A4,A401,CSZ,2
2,524,2021,1093,1,1001,A,200069193,010010000,84,A4,A402,CSZ,1
3,524,2021,1093,1,1001,A,200069193,010010000,84,A4,A404,CSZ,2
4,524,2021,1093,1,1001,A,200069193,010010000,84,A4,A405,CSZ,2
5,524,2021,1093,1,1001,A,200069193,010010000,84,A5,A504,CSZ,1
6,524,2021,1093,1,1001,A,200069193,010010000,84,A5,A505,CSZ,1
7,524,2021,1093,1,1001,A,200069193,010010000,84,A5,A507,CSZ,2
8,524,2021,1093,1,1001,B,200069193,010010000,84,B2,B203,CSZ,1
9,524,2021,1093,1,1001,C,200069193,010010000,84,C1,C104,CSZ,1